<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Contato</span>
  <span class="example-spacer"></span>

  <div class="conteudo" id="conteudo">
  <div class="botao">
    <a href="https://www.linkedin.com/in/mário-patricio-49a993220/" target="_blank"><span>LinkedIn</span></a>
  </div>

  <div class="botao">
    <a href="https://github.com/MarioPatricio" target="_blank"><span>GitHub</span></a>
  </div>

  <div class="botao">
    <a href="https://www.instagram.com" target="_blank"><span>Instagram</span></a>
  </div>

  <div class="botao">
    <a href="https://web.whatsapp.com" target="_blank"><span>WhatsApp</span></a>
  </div>

  <div class="botao">
    <a href="#" target="_blank"><span>E-mail</span></a>
  </div>
</div>

  <div class="icones"></div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

</mat-toolbar>



