mat-toolbar {
    font-family: sans-serif;;
}

.conteudo {
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    margin: 20px;
}

.botao {
    display: block;
    font-family: sans-serif;
    border: 2px transparent;
}

.example-icon {
    border-radius: 30%;
    margin: 5px;
}
