<app-barra></app-barra>
<div class="cabecalho">
    <img src="https://avatars.githubusercontent.com/u/109254418?v=4" class="perfil">
    <h1 class="titulo">Mário Patricio</h1>
    <h3><span class="sub-titulo">Java | JavaScript | Python</span></h3>
    <h3>
        <img src="https://raw.githubusercontent.com/MarioPatricio/PortfolioTeste/refs/heads/main/assets/media/img/java.png" width="50px"class="imagens">
        <img src="https://raw.githubusercontent.com/MarioPatricio/PortfolioTeste/refs/heads/main/assets/media/img/js.png" width="50px"class="imagens">
        <img src="https://raw.githubusercontent.com/MarioPatricio/PortfolioTeste/refs/heads/main/assets/media/img/python.png" width="50px"class="imagens">
    </h3>
    <h3 class="sobre">Entusiasta da tecnologia com objetivo de ser inserido no mercado de trabalho como desenvolvedor.</h3>
</div>
<div class="container">
<mat-spinner></mat-spinner>
</div>

